/* ---------- Spacing ---------- */
.spacer-t {
  margin-top: var(--space-3xl);
}

.spacer-b {
  margin-bottom: var(--space-3xl);
}

.spacer-inner-t {
  margin-top: var(--space-xl);
}

.spacer-inner-b {
  margin-bottom: var(--space-xl);
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

  .m-b-3 {
    margin-bottom: 3rem;
  }

  .m-b-4 {
    margin-bottom: 4rem;
  }

   .y-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .y-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

.m-t-lg {
  margin-top: var(--space-lg);
}




/* =========================
   Mobile
========================= */

@media (max-width: 768px) {

  .spacer-t, .spacer-inner-t {
    margin-top: 1rem;
  }

  .spacer-b, .spacer-inner-b {
    margin-bottom: 1rem;
  }

  .m-t-1 {
    margin-top: 0.5rem;
  }

  .m-t-2 {
    margin-top: 1rem;
  }

  .m-t-lg {
  margin-top: var(--space-sm);
}

  .m-b-1 {
    margin-bottom: 0.5rem;
  }

  .m-b-2 {
    margin-bottom: 1rem;
  }

  .m-b-3 {
    margin-bottom: 2rem;
  }

  .m-b-4 {
    margin-bottom: 3rem;
  }

  .y-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .y-5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .section-intro {
    margin-bottom: var(--space-lg);
  }
}